.menu-container{
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top:12px;
    padding-bottom: 12px;
    width: 100%;
}

.carousel-item-principal {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background: no-repeat center center scroll;
    background-size: cover;
    max-height: 900px;
    z-index: 0;
}
.carousel-caption{
    background-color: rgba(0,0,0,0.4);
    right: 0;
    left: 0;
    bottom: 0;
}

.title{
    font-size: 25px;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .carousel-caption {
        font-size: 8px;
    }

    .title {
        font-size: 11px;
        font-weight: bold;
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators{

}

#search-content{
    margin:40px auto 40px auto;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px #ffffff inset, 0px -3px 2px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
}

#aside-content{
    width: 95%;

    margin: 50px auto 0px auto;
 }

#aside-content img{
    margin: 10px 0px 10px 0px;
    max-height: 350px;
}

.card-border{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px #ffffff inset, 0px -3px 2px rgba(0, 0, 0, 0.25) inset;
}

.list{
    overflow-y: scroll;
    height: 300px;
}

.list a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.list a:hover{
    cursor: pointer;
    color: #00a5bb;
}



.calification{
    margin-right: 15px !important;
}

.list img{
    width: 35px;
    height: 35px !important;
    margin-right: 15px;
}

@supports(object-fit: cover){
    .list img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}


.slider-border{
    /*padding: 15px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px #ffffff inset, 0px -3px 2px rgba(0, 0, 0, 0.25) inset;*/
}

.slider-border img{
    /*max-height: 600px;*/
}

.news-container{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px #ffffff inset, 0px -3px 2px rgba(0, 0, 0, 0.25) inset;
    margin: 0px auto 30px auto;
    font-family: "fajala", Helvetica;
    width: 90%;
    padding: 10px;
}

.news-info{
    letter-spacing: 1px;
}


@supports(object-fit: cover){
    .news-container img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}


.news-container img {
    width: 100%;
    max-height:300px;
    padding: 10px;
}

.news-title{;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.news-description{
    font-family: "fajala", Helvetica;
    font-size: 16px;
    letter-spacing: 2px;
}

.news-date ul{
    list-style: none;
    padding: 0px;
}

.news-date >ul> li{
    font-size: 12px;
    color: #666;
}

#footer-container {
    background-color: #000000;
    padding-top: 10px;
    clear: both;
}

#footer-container .footer-copyright {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#footer-container .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#footer-container ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#footer-container    h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#footer-container h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#footer-container a {
    color: #d2d1d1;
    text-decoration: none;
}

#footer-container a:hover,
#footer-container a:focus {
    text-decoration: none;
    color: white;
}

#footer-container .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#footer-container .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#footer-container .social-networks a:hover {
    text-decoration: none;
}

#footer-container .facebook:hover {
    color: #0077e2;
}

#footer-container .google:hover {
    color: #ef1a1a;
}

#footer-container .twitter:hover {
    color: #00aced;
}

#footer-container .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #footer-container {
        text-align: center;
    }
}

#footer-container {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#footer-logo {
    margin-top: 30px;
    width: 70%;
}

/*News*/
.news-item-container{
    padding-top: 110px !important;
}

.author{
    text-transform: uppercase;
    text-transform: uppercase;
}


.blog-post img{
    max-width: 100% !important;
    height: auto !important;
}

/*Categories and Clasifications*/


.padding-top{
    padding-top: 60px !important;
}



/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/
#social {
    display: flex;
    float: left;
    margin-top: 100px;
    max-width: 40px;
    position: fixed;
    z-index: 999999;
}

#social > ul {
    float: left;
    margin: 0px;
    padding: 0px;
}

#social ul > li {
    float: left;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%
}


#social ul li > a {
    color: white;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.fb {
    background-color: #3B5998;
}

.tw {
    background: #55ACEE;
}

.ig {
    background: #125688;
}

#social ul li > a:hover {
    width: 100%;
}

#social ul li:hover {
    background-color: black;
    width: 130%;
}
